<div class="container">
  <div class="columns-md md:columns-12">
    <h1>Upoad Image</h1>
  </div>
</div>
<div class="container">
  <div class="columns-md">
    <input type="file" (change)="onFileChanged($event)" />
  </div>
  <div class="columns-6">
    <button type="button" class="btn btn-primary" (click)="onUpload()">
      Upload
    </button>
  </div>
</div>
<div class="container row">
  <div class="col-md-12">
    <div *ngIf="message">{{ message }}</div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <input
      type="text"
      class="p-3 ml-11 mr-11"
      id="name"
      placeholder="image name"
      [(ngModel)]="imageName"
      name="name"
    />
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="getImage()">
        GetImages
      </button>
    </div>
  </div>
</div>
<div class="container row">
  <div class="col-md-12">
    <div *ngIf="retrievedImage">
      <img [src]="retrievedImage" />
    </div>
  </div>
</div>
